@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-pulse-slow {
    animation: pulse 15s ease-in-out infinite;
  }

  .animate-slide-in {
    animation: slideIn 0.3s ease-out;
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
